@import "tailwindcss";
*{
    font-family: 'Inter', sans-serif;
}




.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #00bfff;
    margin: auto;
    color: #ffffff;

}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(180deg, #07111f 0%, #0b1730 100%);
    padding: 30px;
    position: relative;

}


.moviesGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    gap: 20px;
    width: 100%;
    align-items: stretch;


}


.gridForInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}








